{% extends "base.html" %}

{% block extrahead %}
  {% set og_title = page.title if page and page.title else config.site_name %}
  {% set og_description = (page.meta.description if page and page.meta and page.meta.description else config.site_description) %}
  {% set og_url = page.canonical_url if page and page.canonical_url else config.site_url %}
  <meta property="og:type" content="website">
  <meta property="og:title" content="{{ og_title }}">
  <meta property="og:description" content="{{ og_description }}">
  <meta property="og:image" content="{{ config.site_url }}assets/logo.png">
  <meta property="og:url" content="{{ og_url }}">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="{{ og_title }}">
  <meta name="twitter:description" content="{{ og_description }}">
  <meta name="twitter:image" content="{{ config.site_url }}assets/logo.png">
{% endblock %}
